@font-face {
	font-family: BrittanySignature;
	src: url(../assets/fonts/FontsFree-Net-BrittanySignature.ttf);
}

/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html{
     font-size: 16px;
}

a{
     text-decoration: none;
}

.brittany{
     font-family: BrittanySignature, serif;
}

.bebas{
     font-family: 'Bebas Neue', serif;
}

.poppins{
     font-family: 'Poppins', serif;
}

.display{
     display: flex;
}

.no-display{
     display: none;
}

/******************************************
/* WRAPPER
/*******************************************/

.wrapper{
     width: 100vw;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: #ffffff;
     opacity: 1;
     background-image:  linear-gradient(#FBF3E4 0.8px, transparent 0.8px), linear-gradient(to right, #FBF3E4 0.8px, #ffffff 0.8px);
     background-size: 16px 16px;
}

/******************************************
/* PANEL
/*******************************************/

.panel{
     position: relative;
     width: 1100px;
     height: 650px;
     padding: 75px;
     margin: 0 auto;
     overflow: hidden;
     background-color: #FBF3E4;
     -webkit-box-shadow: 15px 15px 0px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 15px 15px 0px 0px rgba(0,0,0,0.75);
             box-shadow: 15px 15px 0px 0px rgba(0,0,0,0.75);
}

     .nav-icon{
          top: 10%;
          left: 5%;
          position: absolute;
          overflow: hidden;
          color: black;
          border-radius: 5px;
          transition: 0.3s;
          border: 0px solid black;
     }

     .nav-icon:hover{
          transition: 0.3s;
          border: 2px solid black;
     }

          .nav-icon img{
               width: 3rem;
          }

     .forward-arrow{
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center;
          bottom: 8%;
          right: 5%;
          color: black;
          font-size: 1.25rem;
          border-radius: 5px;
          transition: 0.3s;
          -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
             -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
                  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
     }

          .forward-arrow img,
          .back-arrow img{
               border-radius: 5px;
          }

     .forward-arrow:hover,
     .back-arrow:hover{
          transition: 0.3s;
          -webkit-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.75);
             -moz-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.75);
                  box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.75);
     }

          .forward-arrow span{
               display:none
          }

     .back-arrow{
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center;
          bottom: 8%;
          left: 5%;
          color: black;
          font-size: 1.25rem;
          border-radius: 5px;
          transition: 0.3s;
          -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
             -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
                  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
     }

          .back-arrow span{
               display: none;
          }

/******************************************
/* HOME
/*******************************************/

#home{
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
     h1.brittany{
          position: relative;
          line-height: 3rem;
          margin-top: 25px;
          font-size: 7rem;
          color: #B91646;
          z-index: 1;
     }

     h1.bebas{
          font-size: 10rem;
     }

     #home h3{
          padding: 10px 75px;
          border-radius: 5px;
          border: 3px solid black;
          letter-spacing: 0.2rem;
          font-size: 1.4rem;
          background-color: #DFD8CA;
          transition: 0.3s;
          -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
                  -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
                       box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
     }

     #home h3:hover{
          transition: 0.3s;
          -webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
             -moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
                  box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
     }

/******************************************
/* Table of Contents
/*******************************************/

#table-of-contents{
     flex-direction: column;
     justify-content: center;
     align-items: space-around;
}

     #table-of-contents section{
          text-align: center;
          font-size: 16px;
     }

          #table-of-contents h2.brittany{
               position: relative;
               margin-top: 30px;
               line-height: 2rem;
               font-size: 4.5em;
               color: #B91646;
          }

          #table-of-contents h2.bebas{
               font-size: 6em;
          }

          #table-of-contents p{
               margin-top: 25px;
               font-size: 1.1em;
          }

          #table-of-contents .divider{
               margin: 50px 0;
          }

     nav{
          width: 100%;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          background-color: #FBF3E4;
          z-index: 10;
     }

          nav a{
               display: flex;
               justify-content: center;
               align-items: center;
               width: 30%;
               height: 50px;
               margin-bottom: 25px;
               border: 3px solid black;
               border-radius: 5px;
               font-size: 1.5rem;
               transition: 0.3s;
               -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
                  -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
                       box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
          }
          
          nav a:hover{
               transition: 0.3s;
               -webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
                  -moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
                       box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
          }

               nav a:nth-child(1),
               nav a:nth-child(5){
                    background-color: #B91646;
                    color: #FBF3E4;
               }

               nav a:nth-child(2),
               nav a:nth-child(6){
                    background-color: #105652;
                    color: #FBF3E4;
               }

               nav a:nth-child(3),
               nav a:nth-child(4){
                    background-color: #F9C041;
                    color: black;
               }

/******************************************
/* ABOUT ME
/*******************************************/

#about-me{
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     font-size: 16px;
}

     #about-me section{
          width: 100%;
     }

          #about-me h2.brittany{
               position: relative;
               font-size: 4.5em;
               color: #B91646;
               margin-top: 30px;
               margin-bottom: -30px;
          }

          #about-me h2.bebas{
               font-size: 6em;
          }

          #about-me section p{
               font-family: 'Poppins';
               font-size: 0.9em;
               line-height: 1.3em;
          }

          #about-me section div:nth-child(4){
               display: none;
          }

     #about-me div{
          float: right;
          margin-left: 15px;
          padding: 25px;
          background-color: #B91646;
          border-radius: 10px;
          border: 3px solid black;
     }

          #about-me div img{
               width: 300px;
          }

/******************************************
/* PERSONAL SKILLS
/*******************************************/

#personal-skills{
     justify-content: flex-start;
     align-items: center;
     font-size: 16px;
}
     .personal-skills-text{
          width: 40%;
     }

          #personal-skills h2.brittany{
               position: relative;
               font-size: 5.5em;
               color: #B91646;
               margin-top: 25px;
               margin-bottom: -25px;
          }

          #personal-skills h2.bebas{
               font-size: 8em;
          }

          #personal-skills p{
               font-family: 'Poppins';
               font-size: 1.1em;
               line-height: 1.5em;
          }

     .personal-skills-images{
          display: flex;
          justify-content: center;
          align-items: center;
     }

          .personal-skills-images ul{
               width: 250px;
               height: 400px;
               display: flex;
               flex-direction: column;
               justify-content: flex-start;
               align-items: center;
               color: #FBF3E4;
               font-size: 1.8em;
               border-radius: 5px;
               border: 3px solid black;
               padding: 15px;
          }

               .personal-skills-images ul:nth-child(1){
                    background-color: #105652;
                    margin-left: 50px;
                    margin-right: 25px;
               }

                    #web-app-img{
                         width: 100%;
                         height: 85%;
                         margin-bottom: 20px;
                         background: url(../assets/images/web-app.jpg);
                         background-size: cover;
                    }

               .personal-skills-images ul:nth-child(2){
                    background-color: #B91646;
               }

                    #website-img{
                         width: 100%;
                         height: 85%;
                         margin-bottom: 20px;
                         background: url(../assets/images/website.jpg);
                         background-size: cover;
                    }

/******************************************
/* WORK EXPERIENCE
/*******************************************/

#work-experience{
     justify-content: space-between;
     align-items: center;
}

     .statistics{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
          width: 50%;
          font-size: 16px;
     }
          .statistics ul{
               width: 50%;
          }

          .statistics ul:nth-child(2),
          .statistics ul:nth-child(5){
               padding-left: 50px;
          }

               .statistics h3{
                    font-size: 6em;
                    margin-bottom: 5px;
                    color: #105652;
               }

               .statistics span{
                    font-size: 1.2em;
                    font-family: 'Poppins', serif;
               }

          .divider{
               background-color: black;
               width: 100%;
               height: 2px;
               margin: 25px 0;
          }
     
     .testimonials{
          width: 45%;
          border-radius: 5px;
          border: 3px solid black;
          background-color: #DFD8CA;
          padding: 25px 0;
          font-size: 16px;
     }

          .testimonials ul{
               flex-direction: column;
               justify-content: center;
               align-items: center;
               height: 100%;
               padding: 15px;
          }

               .testimonials li{
                    text-align: center;
               }

                    .testimonials img{
                         border-radius: 50%;
                         width: 50%;
                         margin-bottom: 25px;
                    }

                    .testimonials span{
                         font-size: 2em;
                    }

                    .testimonials p{
                         font-family: 'Poppins', serif;
                         line-height: 1.3em;
                    }

/******************************************
/* PORTFOLIO
/*******************************************/

#portfolio{
     flex-direction: column;
     align-items: center;
     justify-content: center;
     font-size: 16px;
}

     .portfolio-section-one{
          text-align: center;
          width: 70%;
     }

          #portfolio h2.brittany{
               position: relative;
               font-size: 4em;
               color: #B91646;
               line-height: 0.2em;
          }

          #portfolio h2.bebas{
               font-size: 6em;
          }

          #portfolio p{
               font-family: 'Poppins';
               font-size: 1.1em;
               line-height: 1.5em;
          }

     .portfolio-section-two{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          width: 100%;
     }

          .portfolio-section-two a{
               border-radius: 5px;
               border: 3px solid black;
               padding: 10px 0;
               margin: 10px 20px;
               width: 28%;
               text-align: center;
               color: white;
               font-size: 1.5em;
               letter-spacing: 0.2em;
               transition: 0.3s;
               -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
                  -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
                       box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
          }

          .portfolio-section-two a:hover{
               transition: 0.3s;
               -webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
                  -moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
                       box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
          }

          #portfolio section a:nth-child(1){
               background-color: #B91646;
          }

          #portfolio section a:nth-child(2){
               background-color: #105652;
          }

          #portfolio section a:nth-child(3){
               background-color: #F9C041;
               color: black;
          }

          /* #portfolio section a:nth-child(4){
               background-color: #DFD8CA;
               color: black;
          } */

/******************************************
/* PROJECT 01
/*******************************************/

#project-01{
     justify-content: flex-start;
     align-items: center;
     font-size: 16px;
}

     .project-01-section-one{
          width: 40%;
     }

          .project-01-section-one h2{
               font-size: 6em;
               margin-bottom: 15px;
          }

          .project-01-section-one p{
               font-size: 1.1em;
               line-height: 1.5em;
          }

     .project-01-section-two{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          width: 45%;
          height: 150%;
          margin-left: 50px;
     }

          .project-01-section-two a:nth-child(1){
               width: 100%;
               height: 65%;
               padding: 15px;
               margin: 100px 0 25px 0;
               background-color: #B91646;
               border-radius: 5px;
               border: 3px solid black;
               transition: 0.3s;
               -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
               -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
                    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
          }

               .project-01-section-two a:nth-child(1) div{
                    background: url(../assets/images/typing-test-01.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 50% 60%;
                    width: 100%;
                    height: 100%;
               }

          .project-01-section-two a:nth-child(1):hover,
          .project-01-section-two a:nth-child(2):hover{
               -webkit-box-shadow: 3px 0px 0px rgba(0,0,0,0.75);
                  -moz-box-shadow: 3px 0px 0px rgba(0,0,0,0.75);
                       box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
               transition: 0.3s;
          }

          .project-01-section-two a:nth-child(2){
               width: 100%;
               height: 48%;
               padding: 15px;
               background-color: #F9C041;
               border-radius: 5px;
               border: 3px solid black;
               transition: 0.3s;
               -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
                  -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
                       box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
          }

               .project-01-section-two a:nth-child(2) div{
                    background: url(../assets/images/typing-test-02.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 100%;
                    height: 100%;
               }

/******************************************
/* PROJECT 02
/*******************************************/

#project-02{
     justify-content: flex-start;
     align-items: center;
}

     .project-02-a{
          width: 55%;
          height: 80%;
          padding: 15px;
          background-color: #DFD8CA;
          margin-right: 50px;
          border-radius: 5px;
          border: 3px solid black;
          transition: 0.3s;
          -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
             -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
                  box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
     }

          .project-02-a div{
               background: url(../assets/images/stylesConference.png);
               background-size: cover;
               background-repeat: no-repeat;
               background-position: 50% 0;
               width: 100%;
               height: 100%;
          }

          .project-02-a:hover{
               -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
                  -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
                       box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
               transition: 0.3s;
          }

     .project-02-section{
          width: 35%;
     }

          .project-02-section h2{
               font-size: 6rem;
               margin-bottom: 15px;
          }

          .project-02-section p{
               font-size: 1.1rem;
               line-height: 1.5rem;
          }

/******************************************
/* PROJECT 03
/*******************************************/

#project-03{
     justify-content: flex-start;
     align-items: center;
}

     .project-03-section-one,
     .project-03-section-two{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
     }

     .project-03-section-one{
          width: 60%;
          height: 75%;
          margin-right: 50px;
     }

          .project-03-section-one h2{
               font-size: 6rem;
          }

          .project-03-section-one a{
               width: 100%;
               height: 65%;
               padding: 15px;
               background-color: #F9C041;
               border: 3px solid black;
               border-radius: 5px;
               transition: 0.3s;
               -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
                  -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
                       box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
          }

          .project-03-section-one a:hover,
          .project-03-section-two a:hover{
               transition: 0.3s;
               -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
                  -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
                       box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
          }

               .project-03-section-one div{
                    width: 100%;
                    height: 100%;
                    background: url(../assets/images/linktree-01.jpg);
                    background-size: cover;
                    background-position: 50% 20%;
               }

     .project-03-section-two{
          width: 40%;
          height: 75%;
     }

          .project-03-section-two a{
               width: 100%;
               height: 65%;
               padding: 15px;
               background-color: #105652;
               border: 3px solid black;
               border-radius: 5px;
               transition: 0.3s;
               -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
                  -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
                       box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
          }

          .project-03-section-two div{
               width: 100%;
               height: 100%;
               background: url(../assets/images/linktree-02.png);
               background-size: cover;
               background-position: 50% 20%;
          }

          .project-03-section-two p{
               font-size: 1.1rem;
               line-height: 1.5rem;
          }

/******************************************
/* OTHER PROJECTS
/*******************************************/

#other-projects{
     justify-content: center;
     flex-direction: column;
     align-items: flex-start;
}

     #other-projects h2{
          font-size: 3.5rem;
     }

     #other-projects ul{
          width: 90%;
          height: 70%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
     }

          #other-projects li{
               width: 20%;
               height: 50%;
               margin: 0 2.5%;
          }

               #other-projects li:nth-child(1) a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: url(../assets/images/1.png);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
               }

               #other-projects li:nth-child(1) a:hover{
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: url(../assets/images/2.png);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
               }

               #other-projects li:nth-child(2) a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: url(../assets/images/3.png);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
               }

               #other-projects li:nth-child(2) a:hover{
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: url(../assets/images/4.png);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
               }

               #other-projects li:nth-child(3) a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: url(../assets/images/5.png);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
               }

               #other-projects li:nth-child(3) a:hover{
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: url(../assets/images/6.png);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
               }

/******************************************
/* CONTACT
/*******************************************/

#contact{
     flex-direction: column;
     justify-content: center;
     align-items: space-between;
     font-size: 16px;
}

     .contact-title{
          text-align: center;
     }

          .contact-title h2.brittany{
               position: relative;
               margin-top: 25px;
               margin-bottom: -25px;
               font-size: 5rem;
               color: #B91646;
          }

          .contact-title h2.bebas{
               font-size: 7rem;
          }

     .contact-bottom-half{
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          flex-wrap: wrap;
     }

          #contact-form{
               width: 40%;
          }

               #contact-form input,
               #contact-form textarea{
                    width: 100%;
                    font-size: 1em;
                    margin: 5px 0;
                    border: none;
                    border-radius: 5px;
                    background-color: #DFD8CA;
                    color: black;
                    padding: 3px 10px;
                    transition: 0.3s;
                    -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
                       -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
                            box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
               }

               #contact-form input:focus,
               #contact-form textarea:focus{
                    outline: none;
                    transition: 0.3s;
                    -webkit-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.75);
                       -moz-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.75);
                            box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.75);
               }

                    #contact-form input:last-child{
                         width: 75px;
                    }

               .contact-bottom-half ul{
                    width: 55%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: 1.1em;
                    text-align: right;
               }

                    .social-icons a{
                         color: black;
                         font-size: 2em;
                         margin: 0 15px;
                    }

                    .contact-bottom-half ul small{
                         font-size: 0.8em;
                    }

/******************************************
/* MEDIA QUERY BREAKPOINTS
/*******************************************/

@media (max-width: 1150px) {
     .wrapper{
          min-height: 800px;
     }

     .panel{
          position: relative;
          width: 100%;
          height: 100%;
          padding: 4.5vw;
          margin: 0 auto;
          overflow: hidden;
          background-color: #FBF3E4;
          -webkit-box-shadow: 15px 15px 0px 0px rgba(0,0,0,0.75);
             -moz-box-shadow: 15px 15px 0px 0px rgba(0,0,0,0.75);
                  box-shadow: 15px 15px 0px 0px rgba(0,0,0,0.75);
     }

          .nav-icon{
               top: 5%;
          }

          .divider{
               margin: 2vw 0;
          }

     /* TABLE OF CONTENTS */
     #table-of-contents section{
          text-align: center;
          font-size: 20px;
     }

     nav{
          width: 100%;
          justify-content: space-around;
          align-items: space-evenly;
     }

          nav a{
               display: flex;
               justify-content: center;
               align-items: center;
               width: 45%;
               height: 75px;
               font-size: 2rem;
          }

               nav a:nth-child(1),
               nav a:nth-child(4){
                    background-color: #B91646;
                    color: #FBF3E4;
               }

               nav a:nth-child(2),
               nav a:nth-child(5){
                    background-color: #105652;
                    color: #FBF3E4;
               }

               nav a:nth-child(3),
               nav a:nth-child(6){
                    background-color: #F9C041;
                    color: black;
               }

          #table-of-contents .divider{
               margin: 5vw 0;
          }

     /* PROJECT 01 */
     #project-01{
          justify-content: center;
          flex-direction: column;
     }
     
          .project-01-section-one{
               width: 100%;
               margin-bottom: 25px;
          }
     
               .project-01-section-one h2{
                    font-size: 6em;
                    margin-bottom: 5px;
               }
     
               .project-01-section-one p{
                    font-size: 1.3em;
                    line-height: 1.5em;
               }
     
          .project-01-section-two{
               display: flex;
               flex-direction: row;
               justify-content: space-evenly;
               align-items: center;
               width: 100%;
               height: 30vw;
               margin-left: 0;
          }

               .project-01-section-two a:nth-child(1),
               .project-01-section-two a:nth-child(2){
                    width: 45%;
                    height: 100%;
                    margin: 0;
               }

     /* PROJECT 02 */
     #project-02{
          flex-direction: column-reverse;
          justify-content: center;
          align-items: center;
     }
     
          .project-02-a{
               width: 100%;
               height: 50%;
               margin-right: 0;
          }
     
          .project-02-section{
               width: 100%;
               margin-bottom: 15px;
          }
     
               .project-02-section h2{
                    font-size: 6rem;
                    margin-bottom: 0;
               }
     
               .project-02-section p{
                    font-size: 1.1rem;
                    line-height: 1.5rem;
               }

     /* PROJECT 03 */
     #project-03{
          flex-direction: column;
          justify-content: center;
          align-items: center;
     }
     
          .project-03-section-one,
          .project-03-section-two{
               display: flex;
               flex-direction: row;
               justify-content: space-around;
               align-items: center;
               height: 40%;
          }
     
          .project-03-section-one{
               width: 100%;
               margin-right: 0;
               margin-bottom: 25px;
          }
     
               .project-03-section-one a{
                    width: 60%;
                    height: 100%;
                    padding: 15px;
               }
     
          .project-03-section-two{
               width: 100%;
          }
     
               .project-03-section-two a{
                    width: 55%;
                    height: 100%;
                    padding: 15px;
               }
     
               .project-03-section-two p{
                    width: 45%;
                    font-size: 1.3rem;
                    line-height: 1.8rem;
                    margin-left: 25px;
               }

     /* CONTACT */
     .contact-title{
          text-align: center;
          margin-top: -100px;
     }
}

@media (max-width: 950px){
     /* PERSONAL SKILLS */
     #personal-skills{
          flex-direction: column;
          justify-content: center;
          align-items: center;
     }
          .personal-skills-text{
               width: 100%;
               text-align: center;
          }
     
               .personal-skills-images ul{
                    width: 250px;
                    height: 400px;
                    padding: 15px;
                    margin-top: 25px;
               }

               .personal-skills-images li{
                    text-align: center;
               }
     
                    .personal-skills-images ul:nth-child(1){
                         margin-left: 0;
                         margin-right: 25px;
                    }
     
                         #web-app-img{
                              width: 100%;
                              height: 85%;
                              margin-bottom: 20px;
                              background: url(../assets/images/web-app.jpg);
                              background-size: cover;
                         }
     
                    .personal-skills-images ul:nth-child(2){
                         background-color: #B91646;
                    }
     
                         #website-img{
                              width: 100%;
                              height: 85%;
                              margin-bottom: 20px;
                              background: url(../assets/images/website.jpg);
                              background-size: cover;
                         }

     /* WORK EXPERIENCE */
     #work-experience{
          flex-direction: column;
          justify-content: center;
          align-items: center;
     }

          .statistics,
          .testimonials{
               width: 100%;
               font-size: 13px;
          }

          .testimonials{
               margin-top: 25px;
          }

     /* PORTFOLIO */
     .portfolio-section-one{
          width: 100%;
     }

     .portfolio-section-two a{
          width: 75%;
     }
}

@media (max-width: 770px){
     /* ABOUT ME */
     #about-me div{
          float: right;
          margin-left: 15px;
          padding: 15px;
     }

          #about-me div img{
               width: 35vw;
          }

     /* PROJECT 01 */
     #project-01{
          font-size: 12px;
     }

     .project-01-section-one{
          width: 100%;
          margin-bottom: 10px;
     }

     .project-01-section-two{
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          width: 100%;
          height: 60%;
          margin-left: 0;
     }

          .project-01-section-two a:nth-child(1),
          .project-01-section-two a:nth-child(2){
               width: 80%;
               height: 40%;
               margin: 0;
          }    

     /* PROJECT 03 */
     .project-03-section-one{
          margin-top: -75px;
     }

          .project-03-section-one h2{
               font-size: 4rem;
          }

          .project-03-section-one div{
               background-size: 175%;
               background-repeat: no-repeat;
               background-position: 50% 20%;
          }

          .project-03-section-two p{
               font-size: 1.1rem;
               line-height: 1.5rem;
          }

          .project-03-section-two div{
               background-size: 175%;
               background-repeat: no-repeat;
               background-position: 50% 20%;
          }

     /* CONTACT */
     #contact{
          font-size: 14px;
     }
}

@media (max-width: 575px){
     /* PANEL */
     .forward-arrow,
     .back-arrow{
          bottom: 5%;
     }

     /* HOME */
     h1.brittany{
          line-height: 3rem;
          margin-top: 25px;
          font-size: 19.5vw;
     }

     h1.bebas{
          font-size: 27.8vw;
     }

     #home h3{
          padding: 10px 75px;
          font-size: 1.4rem;
     }

     /* TABLE OF CONTENTS */
     #table-of-contents section{
          text-align: center;
          font-size: 14px;
     }

     nav a{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 95%;
          height: 45px;
          margin-bottom: 15px;
          font-size: 1.8em;
     }

     /* ABOUT ME */
     #about-me section div:nth-child(1){
          display: none;
     }

     #about-me section div:nth-child(4){
          display: inline-block;
     }

     /* PERSONAL SKILLS */
     .personal-skills-images ul{
          width: 43.5vw;
          height: 69.5vw;
          padding: 15px;
          margin-top: 25px;
     }

     /* PORTFOLIO */
     #portfolio{
          font-size: 14px;
     }

     .portfolio-section-two a{
          width: 100%;
     }

     /* PROJECT 02 */
     .project-02-section h2{
          font-size: 5rem;
          margin-bottom: 0;
     }

     /* PROJECT 03 */
     .project-03-section-one,
     .project-03-section-two{
          height: 30%;
     }

     .project-03-section-one{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
     }

          .project-03-section-one a{
               width: 100%;
               height: 100%;
               padding: 15px;
          }

          .project-03-section-one h2{
               font-size: 3rem;
          }

          .project-03-section-one div{
               background-size: 100%;
               background-repeat: no-repeat;
               background-position: 50% 10%;
          }

          .project-03-section-two p{
               font-size: 1.1rem;
               line-height: 1.5rem;
          }

          .project-03-section-two div{
               background-size: 250%;
               background-repeat: no-repeat;
               background-position: 50% 20%;
          }

     /* CONTACT */
     #contact{
          font-size: 12px;
     }

     .contact-bottom-half{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          flex-wrap: nowrap;
     }

          #contact-form{
               width: 100%;
               margin-bottom: 50px;
          }

               .contact-bottom-half ul{
                    width: 100%;
                    height: 100px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: 1.1em;
                    text-align: center;
               }
}

